.cc-breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    background: transparent;
    white-space: nowrap;
    display: flex;
}

.cc-breadcrumbs__item {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 6px;
    color: #fff;
}

.cc-breadcrumbs__item__link {
    color: #fff;
    font-size: 14px;
}

.cc-breadcrumbs__item__link:hover {
    color: #fff;
}

.cc-breadcrumbs__item:first-child {
    overflow: visible;
    margin-left: 0;
}

.cc-breadcrumbs__item + li:before {
    content: "\203A";
    padding: 0;
    display: block;
    float: left;
    font-size: 24px;
    line-height: .8;
    margin: 0 6px 0 0;
}
